/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: #776e7c;
  font-family: Avenir;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #e8eef5;
}

#CENTER-X,
.search,
.search-bar,
.diagnoses-dropdown-list,
.diagnoses-list,
.center-x,
.flash-notification-list
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#BORDER-BOX,
.search-bar,
.diagnoses-dropdown-list-item,
.diagnoses-list,
span.glyphicon.glyphicon-search,
.search-bar-input,
.diagnoses-list-item,
.border-box
{
  box-sizing: border-box;
}

.search
{
  width: 600px;
  top: 100px;
  z-index: 1;
}

.search-bar-input
{
  height: 100%;
  padding-left: 5px;
  width: 280px;
  outline: none;
  font-size: 14px;
  border: 0px;
  border-radius: 4px;
  background-color: inherit;
}

.search-bar
{
  height: 30px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #776e7c;
  background-color: #e8eef5;
}

span.glyphicon.glyphicon-search
{
  position: absolute;
  top: 7px;
  color: #776e7c;
  font-size: 14px;
}

span.glyphicon.glyphicon-search:hover
{
  cursor: pointer;
}

.diagnoses-dropdown-list
{
  width: 300px;
  top: 30px;
  border: 0px 1px 1px 1px;
  border-color: #776e7c;
  border-radius: 4px;
  background-color: #e8eef5;
}

.diagnoses-list
{
  margin-top: 20px;
  width: 450px;
  top: 130px;
}

.diagnoses-list-item
{
  border: 1px 0px 0px 0px;
  border-color: #776e7c;
  border-radius: 4px;
  padding: 5px;
}

.diagnoses-list-item:hover
{
  cursor: pointer;
  background: #D5DFEA;
}

.diagnoses-dropdown-list-item
{
  width: 100%;
  padding: 5px;
  border: 1px solid #776e7c;
  border-top: 0px;
}

.diagnoses-dropdown-list:hover
{
  cursor: pointer;
}

.diagnoses-dropdown-list-item:hover
{
  background: #D5DFEA;
}

.flash-notification-list
{
  padding: 0px;
  list-style:none;
  position: absolute;
  top: 30px;
  font-size: 16px;
}
